{{ define "content" }}
<div class="container">
    <h1 class="m-5">Статусы воркеров (агентов)</h1>
    <table class="table" id="table">
        <thead class="thead-dark">
        <tr>
            <th scope="col">ID</th>
            <th scope="col">Статус</th>
            <th scope="col">Подробности</th>
            <th scope="col">Время последнего обновления статуса</th>
        </tr>
        </thead>
        <tbody id="agentData">
        </tbody>
    </table>
</div>

<link href="https://cdn.datatables.net/v/dt/dt-2.0.5/datatables.min.css" rel="stylesheet">
<script src="https://cdn.datatables.net/v/dt/dt-2.0.5/datatables.min.js"></script>

<script>
    fetch('http://localhost:8080/agents')
        .then(response => response.json())
        .then(data => {
            const agentDataElement = $('#agentData');
            data.forEach(agent => {
                const row = $('<tr>').append(
                    $('<td>').text(agent.id),
                    $('<td>').html({"waiting": "<span style='color: orange; '>В ожидании задачи</span>", "error": "<span style='color: red; '>Ошибка</span>", "process": "<span style='color: green; '>Выполняет задачу</span>"}[agent.status]),
                    $('<td>').text(agent.status_text),
                    $('<td>').text(new Date(agent.ping_time * 1000).toLocaleString())
                );
                agentDataElement.append(row);
            });
            $('#table').DataTable({searching: false,
                paging: false, info: false, order: [[3, 'desc']]

            });

        })
        .catch(error => {
            console.error('Ошибка при выполнении запроса:', error);
        });
</script>
{{ end }}
