{{ define "content" }}
<div class="container w-25">
    <h3 class="m-5 text-center">Чтобы продолжить необходимо войти в аккаунт</h3>
    <ul class="nav nav-underline nav-justified bg-body-tertiary text-white bg-secondary navbar-nav d-flex flex-row" id="myTab" role="tablist">
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-secondary active" id="login-tab" data-toggle="tab" href="#login" role="tab" aria-controls="login" aria-selected="true">Вход</button>
        </li>
        <li class="nav-item" role="presentation">
            <button class="nav-link btn-secondary" id="register-tab" data-toggle="tab" href="#register" role="tab" aria-controls="register" aria-selected="false">Регистрация</button>
        </li>
    </ul>
    <div class="tab-content" id="myTabContent">
        <div class="tab-pane fade show active" id="login" role="tabpanel" aria-labelledby="login-tab">
            <form id="loginForm" class="mt-5">
                <div data-mdb-input-init class="form-outline mb-4">
                    <label for="loginUsername" class="form-label">Имя пользователя</label>
                    <input type="text" placeholder="Имя пользователя" class="form-control" id="loginUsername" name="username" required>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label for="loginPassword" class="form-label">Пароль</label>
                    <input type="password" placeholder="Пароль" class="form-control" id="loginPassword" name="password" required>
                </div>
                <button type="submit" class="btn btn-success w-100 text-center">Войти</button>
                <div id="loginError" class="text-danger mt-2"></div>
            </form>
        </div>
        <div class="tab-pane fade" id="register" role="tabpanel" aria-labelledby="register-tab">
            <form id="registerForm" class="mt-5">
                <div data-mdb-input-init class="form-outline mb-4">
                    <label for="registerUsername" class="form-label">Имя пользователя</label>
                    <input type="text" placeholder="Имя пользователя" class="form-control" id="registerUsername" name="username" required>
                </div>

                <div data-mdb-input-init class="form-outline mb-4">
                    <label for="registerPassword" class="form-label">Пароль</label>
                    <input type="password" placeholder="Пароль" class="form-control" id="registerPassword" name="password" required>
                </div>
                <button type="submit" class="btn btn-success w-100 text-center">Зарегистрироваться</button>
                <div id="loginError" class="text-danger mt-2"></div>
            </form>
        </div>
    </div>
</div>
<script>
    const urlParams = new URLSearchParams(window.location.search);
    const redirectUrl = urlParams.get('redirect') ?? '/';

    const loginForm = document.getElementById('loginForm');
    loginForm.addEventListener('submit', async (event) => {
        event.preventDefault();
        const formData = {
            name: document.getElementById('loginUsername').value,
            password: document.getElementById('loginPassword').value
        };

        try {
            const response = await fetch('http://localhost:8080/login', {
                mode: 'cors',
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json',
                },
                body: JSON.stringify(formData)
            });
            const text = await response.text();
            console.log(response)
            if (response.ok) {
                setCookie("token", text, {samesite: "lax"})
                window.location.href = redirectUrl;
            } else {
                document.getElementById('loginError').textContent = text;
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });

    const registerForm = document.getElementById('registerForm');
    registerForm.addEventListener('submit', async (event) => {
        event.preventDefault();

        const formData = {
            name: document.getElementById('registerUsername').value,
            password: document.getElementById('registerPassword').value
        };

        try {
            const response = await fetch('http://localhost:8080/register', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(formData)
            });
            if (response.ok) {
                window.location.href = "/login";
            } else {
                // Выводим ошибку регистрации
                document.getElementById('registerError').textContent = await response.text();
            }
        } catch (error) {
            console.error('Error:', error);
        }
    });
</script>
{{ end }}