{{ define "content" }}
<div class="container">
    <div class="mt-5">
        <h1>Длительность выполнения операций</h1>
        <h3>(в секундах)</h3>
    </div>
    <div id="operations">
        <form id="operationsForm" class="mt-5">
            <label for="plus">Сложение: </label>
            <input type="number" min="0" max="100" id="plus" name="plus" class="form-control"><br>
            <label for="minus">Вычитание: </label>
            <input type="number" min="0" max="100" id="minus" name="minus" class="form-control"><br>
            <label for="division">Деление: </label>
            <input type="number" min="0" max="100" id="division" name="division" class="form-control"><br>
            <label for="multiplication">Умножение: </label>
            <input type="number" min="0" max="100" id="multiplication" name="multiplication" class="form-control"><br>

            <button type="submit" class="btn btn-success">Отправить</button>
            <div id="response"></div>

        </form>
    </div>
</div>

<script>

    document.getElementById('operationsForm').addEventListener('submit', function (event) {
        event.preventDefault();
        fetch(`http://localhost:8080/operations`, {
            method: 'PUT',
            headers: {
                'Content-Type': 'application/json',
                "Authorization": "Bearer " + getCookie("token")
            },
            body: JSON.stringify({
                plus: parseInt(document.getElementById('plus').value),
                minus: parseInt(document.getElementById('minus').value),
                division: parseInt(document.getElementById('division').value),
                multiplication: parseInt(document.getElementById('multiplication').value),
            })
        })
            .then(response => {
                if (response.ok) {
                    document.getElementById('response').innerHTML = "Длительность операций успешно обновлена!";
                } else {
                    document.getElementById('response').innerHTML = "<span style='color: red; '>Не верная длительность операции</span> (должна быть от 0 до 100): ";
                }
            })
            .catch(error => {
                document.getElementById('response').innerHTML = "Ошибка: <span style='color: red; '>" + error + "</span>";
            });
    })

    fetch('http://localhost:8080/operations',  {mode: 'cors', headers:
            {"Authorization": "Bearer " + getCookie("token")}})
        .then(response => {
            if (response.ok) {
                return response.json()
            }
            document.getElementById('response').innerHTML = "<span style='color: red; '>Ошибка</span>";
            return null
        }).then(operations => {
            if (operations) {
                document.getElementById('plus').value = operations.plus
                document.getElementById('minus').value = operations.minus
                document.getElementById('division').value = operations.division
                document.getElementById('multiplication').value = operations.multiplication
            }
        })
        .catch(error => {
            document.getElementById('response').innerHTML = "Ошибка: <span style='color: red; '>" + error + "</span>";
        });
</script>
{{ end }}